{{- if .Values.s3.csiDriver.install }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "prototype.fullname" . }}-csi-controller
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "prototype.labels" . | nindent 4 }}
    app.kubernetes.io/component: csi-controller
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "prototype.fullname" . }}-csi-node
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "prototype.labels" . | nindent 4 }}
    app.kubernetes.io/component: csi-node
{{- end }}

