{% extends "base.html" %}
      
{% block content %}
<div style="display: justify-content: center;">
    <div>
        <p>В нашем сервисе Вы сможете попробовать все возможности нашего автоматизированного SMM-сервиса.</p>
        <a href="/add" class="add-news-button">Отправить пост</a>
    </div>
    <section class="news-list" style="margin-top: 20px;">
        {% for message in messages %}
            <article class="news-summary">
                <h2>{{ message.title }}</h2>
                <p class="description">{{ message.description }}</p>
            </article>
        {% endfor %}
    </section>
</div>
{% endblock  %}
