{% extends "base.html" %}

{% block content %}
    <a href="/" class="add-news-button">Вернуться к сообщениям</a>
    <section class="news-form">
        <h2>Добавить сообщение</h2>
        <i>Оставьте свой пост и укажите куда его нужно отправить - мы обязательно это сделаем!</i>
        <form action="/add" method="post">
            <label for="title">Заголовок:</label>
            <input type="text" id="title" name="title" required>

            <label for="summary">Краткое описание:</label>
            <textarea id="summary" name="description" required></textarea>

            <label for="urls">Кому разослать (напишите адреса через ",")</label>
            <textarea id="urls" name="urls" required placeholder="vc.ru, http://reklama.ru, http://newsandchips.com"></textarea>

            <button type="submit">Добавить сообщение</button>
        </form>
    </section>
{% endblock %}