{{- if and .Values.ingress.enabled .Values.ingress.tls.enabled .Values.ingress.tls.generateSelfSigned }}
{{- $secretName := .Values.ingress.tls.secretName }}
{{- $secret := lookup "v1" "Secret" .Release.Namespace $secretName }}
{{- if not $secret }}
---
{{- $cn := .Values.ingress.tls.commonName }}
{{- $ca := genCA $cn (.Values.ingress.tls.certValidity | int) }}
{{- $cert := genSelfSignedCert $cn nil nil (.Values.ingress.tls.certValidity | int) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "warehouse.labels" . | nindent 4 }}
type: kubernetes.io/tls
data:
  tls.crt: {{ $cert.Cert | b64enc }}
  tls.key: {{ $cert.Key | b64enc }}
{{- end }}
{{- end }}
