.env
*.local
*.log

cache/
tmp/
logs/
vendor/

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

docs/
*.md

/tests/
*.sql
*.sqlite
*.csv

composer.lock
composer.phar

Dockerfile
.dockerignore

.git/
.gitignore
