bcrypt==4.0.1
black==23.3.0
cffi==1.15.1
cryptography==40.0.2
ecdsa==0.18.0
httptools==0.5.0
mypy-extensions==1.0.0
packaging==23.1
passlib==1.7.4
pathspec==0.11.1
platformdirs==3.5.0
pyasn1==0.5.0
pycparser==2.21
python-jose==3.3.0
PyYAML==6.0
rsa==4.9
six==1.16.0
tomli==2.0.1
uvloop==0.17.0
watchfiles==0.19.0
websockets==11.0.3
fastapi==0.105.0
SQLAlchemy==2.0.23
pydantic-settings==2.2.1
uvicorn==0.29.0
Jinja2==3.1.4
python-multipart==0.0.9
pydantic==2.5.2
requests==2.31.0
